<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 안드로이드 13(API 33) 이상에서 알림을 보내려면 이 권한이 필요합니다.
         (앱이 FirebaseMessaging.requestPermission()을 호출하면 이 권한을 근거로
         시스템이 사용자에게 알림 허용 여부를 물어봅니다.) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="덕옥션"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- FCM 알림이 시스템 알림함에 표시될 때 쓸 기본 아이콘/색상이에요.
             지정하지 않으면 일부 기기에서 흰색 사각형처럼 보일 수 있어서 넣어뒀어요. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@android:color/black" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- image_cropper(ucrop) 사진 크롭 화면 액티비티예요. -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/UCropTheme"/>
        <!-- 카카오 로그인 리다이렉트 처리 액티비티 (scheme = kakao{네이티브앱키})
             taskAffinity를 앱과 동일하게 고정하고 recents에서 숨겨서, 카카오톡에서
             돌아올 때 별도의 두 번째 앱(태스크)이 뜨지 않고 기존 앱으로 이어지게 해요. -->
        <activity
            android:name="com.kakao.sdk.flutter.AuthCodeHandlerActivity"
            android:exported="true"
            android:taskAffinity="${applicationId}"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth" android:scheme="kakaod5a6ccea8c6530aa9960040510384c1f" />
            </intent-filter>
        </activity>
        <!-- 네이버 로그인 설정 (clientSecret은 로컬에서 실제 값으로 교체하세요) -->
        <meta-data android:name="com.naver.sdk.clientId" android:value="dpxPDMk7MCKaUv4lgdKR"/>
        <meta-data android:name="com.naver.sdk.clientSecret" android:value="dBLt1fFA6t"/>
        <meta-data android:name="com.naver.sdk.clientName" android:value="덕옥션"/>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <package android:name="com.kakao.talk" />
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
